/* google font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

/* swiper slider */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

body {
  font-family: "Inter", sans-serif;
}


/* Light mode */
[data-theme="light"] {
  /* ---------- Backgrounds ---------- */
  .bg-base { background-color: #efefef; }    
  .bg-surface { background-color: #FFFFFF; }     
  .bg-primary { background-color: #3d32b7; }     /* Deep Indigo */
  .bg-hover { background-color: #292578; } 
  .bg-secondary { background-color: #F2F3F8;}   
  .bg-muted { background-color: #F3F4F6; }       
  .bg-accent { background-color: #e0e8ff; }  
  .bg-footer{background-color: #cfd0d1 ;}     

  .bg-info { background-color: #0EA5E9; }        
  .bg-danger { background-color: #EF4444; }      

  /* ---------- Text ---------- */
  .text-base { color: #111111; }                 
  .text-primary { color: #4338CA; }              /* Deep Indigo */
  .text-secondary { color: #030213; }            
  .text-muted { color: #6B7280; }                
  .text-accent { color: #030213; }              
  .text-white { color: #FFFFFF; }             

  .text-info { color: #0EA5E9; }                 
  .text-danger { color: #EF4444; }          

  .text-primary-foreground { color: #FFFFFF; }
  .text-danger-foreground { color: #FFFFFF; } 
  .text-info-foreground { color: #FFFFFF; }   

  /* ---------- Borders ---------- */
  .border-base { border-color: #0000001F; }      
  .border-primary { border-color: #3d32b7; }     /* Deep Indigo */
  .border-info { border-color: #0EA5E9; }        
  .border-danger { border-color: #EF4444; }      

  /* ---------- Inputs ---------- */
  .border-input { border-color: #0000001F; }     
  .outline-primary { outline: 2px solid #4F46E5; outline-offset: 2px; }
}


/* Dark mode */
[data-theme="dark"] {
  /* ---------- Backgrounds ---------- */
  .bg-base { background-color: #0F172A; }         /* Deep navy */
  .bg-surface { background-color: #1E293B; }      /* Slate */
  .bg-primary { background-color: #5254d0; }      /* Bright indigo */
  .bg-secondary { background-color: #334155; }    /* Medium slate */
  .bg-muted { background-color: #1E293B; }        /* Slate */
  .bg-accent { background-color: #334155; }       /* Medium slate */
  .bg-info { background-color: #0EA5E9; }         
  .bg-danger { background-color: #EF4444; }       
  .bg-footer{background-color: #1E293B ;} 

  /* ---------- Text ---------- */
  .text-base { color: #F1F5F9; }                  
  .text-primary { color: #6366F1; }             
  .text-secondary { color: #F1F5F9; }             
  .text-muted { color: #94A3B8; }                 
  .text-accent { color: #F1F5F9; }                
  .text-white { color: #FFFFFF; }                

  .text-info { color: #38BDF8; }                 
  .text-danger { color: #EF4444; }              

  /* ---------- Borders ---------- */
  .border-base { border-color: #FFFFFF26; }       
  .border-primary { border-color: #6366F1; }      
  .border-info { border-color: #0EA5E9; }         
  .border-danger { border-color: #EF4444; }       

  /* ---------- Inputs ---------- */
  .border-input { border-color: #334155; }        /* Medium slate */

  /* ---------- Focus & Rings ---------- */
  .outline-primary { outline: 2px solid #6366F1; outline-offset: 2px; } /* Indigo focus */
}



[data-theme="light"] .active {
  color: #4338CA;
  border-bottom: 2px solid #4338CA;
}

[data-theme="dark"] .active {
  color: #6366F1;
  border-bottom: 2px solid #6366F1;
}


